assets/dtd/news.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT news (include*,message*)>
<!ATTLIST news
    version CDATA #REQUIRED
    mtime CDATA #REQUIRED
    frequency CDATA #REQUIRED
>

<!ELEMENT message EMPTY>
<!ATTLIST message
    date CDATA #REQUIRED
    author CDATA #REQUIRED
    content CDATA #REQUIRED
>

<!ELEMENT include EMPTY>
<!ATTLIST include
    file CDATA #REQUIRED
    mtime CDATA #IMPLIED
>